<div *ngIf ="products.productName" class="card">
  <img *ngIf="products.image" class="card-img-top" [src]="products.image" alt=" {{products.productName  }}">
  <div class="card-body">
    <h5 class="card-title">{{products.productName}}</h5>
    <h5 class="card-title">{{products.price}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
  <div class="card-footer">
    <button *ngIf="showActions" (click)="addToCart()" class="btn btn-primary btn-block">Add to cart</button>
  </div>
</div>