<!-- <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" routerLink="/" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button  class="dropdown-item" routerLink ="/product-form"> myorer</button>
          <button class="dropdown-item"   routerLink="/admin-products">adminprods Action</button>
          <button class="dropdown-item"   routerLink="/products">products </button>
          <button  class="dropdown-item"   routerLink="/shopping-cart">view shopping cart </button>
          <button class="dropdown-item"  routerLink="/check-out">Check out </button>
        </div>
      </div>
    </div> -->